<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>

<%= @shelter.address %><br>

<%= @shelter.city %><br>

<%= @shelter.state %><br>

<%= @shelter.zip %><br>

<%= link_to 'Update Shelter', "/shelters/#{@shelter.id}/edit" %><br>

<%= link_to 'Delete', "/shelters/#{@shelter.id}", method: :delete%>
