<h1>All Pets</h1>
  <% @pets.each do |pet| %>
  <%= image_tag(pet.image_path, :size => "200x100")%><br>
  Name: <%= pet.name %><br>
  Approximate age: <%= pet.approx_age %><br>
  Sex: <%= pet.sex %><br>
  Shelter ID: <%= pet.shelter_id %><br>
  <% end %>
