<h1>Pet Info</h1>

<%= image_tag(@pet.image_path, :size => "200x100")%><br>
Name: <%= @pet.name %><br>
Approximate age: <%= @pet.approx_age %><br>
Sex: <%= @pet.sex %><br>
Shelter ID: <%= @pet.shelter_id %><br>
Adoption status: <%= @pet.status %><br>
Description: <%= @pet.description %><br>

<%= link_to 'Update Pet', "/pets/#{@pet.id}/edit" %><br>

<%= link_to 'Delete Pet', "/pets/#{@pet.id}", method: :delete%>
